*{
    margin:0;
    padding:0;

}
    header{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        display:flex;
        background-color: rgb(15, 77, 77);

    }
